@import 'mixins.css.scss';
@import 'thimble.css.scss';
@import 'experiment.css.scss';


html, body {
  margin:0;
}

.sidebar {
  position:fixed;
  z-index:10;
  height:100%;
  width:265px;
  top:0;
  left:0;
  overflow:auto;
  background:$gray;
  .logo {
    width:100%;
    height:180px;
    padding:60px 30px 0;
    background:url('/space.jpg') no-repeat;
    background-position:center center;
    background-size:cover;
    border-bottom:solid 1px $gray;
  }
  
  .vote {
    .vote-btn {
      width:50%;
      display:inline-block;
      text-align:center;
      padding:16px 0;
      background:$blue;
      color:#fff;
      transition:all .15s linear;
      &.up {
        border-right:solid 1px $gray;
      }
      &:hover {
        background:$red;
      }
    }
    border-bottom:solid 1px $gray;
  }
  
  .chart-selection {
    li {
      list-style:none;
      padding:0;
      font-weight:200;
      line-height:34px;
      height:34px;
      overflow:hidden;
      &.active {
        background:darken($gray, 3%);
        a {
          //color:$blue;
          position:relative;
          overflow:hidden;
          /*
          &:after {
            content:"";
            top:50%;
            margin-top:-20px;
            width:40px;
            height:40px;
            background:#fff;
            position:absolute;
            right:-31px;
            @include rotate(45deg);
          }
          */
        }
      }
      a {
        font-size:.8em;
        text-transform:uppercase;
        padding:0 30px;
      }
    }
  }
  
  a {
    color:#bfbfbf;
    transition:all .15s linear;
    display:inline-block;
    width:100%;
    &:hover {
      //color:lighten($blue, 20%);
      background:darken($gray, 3%);
    }
  }
  
}

.content {
  padding:40px 40px 60px 305px;
  position:relative;
  
}