.experiment {
  .heartbeat {
    height: 200px;

    circle.upvote {
      stroke: green;
      fill: green;
    }

    circle.downvote {
      stroke: red;
      fill: red;
    }
  }

  .user-column {
    height: 200px;

    rect.positive-score {
      stroke: green;
      fill: green;
    }

    rect.negative-score {
      stroke: red;
      fill: red;
    }
  }

  .line-overall-score {
    height: 200px;

    .line-container path {
      stroke: black;
      fill: white;
    }
  }

  .user-smilies {
    height: 200px;

    .face-outer-circle {
      stroke: black;
    }

    .mouth {
      stroke-width: 10;
      stroke: black;
      fill: transparent;
    }
  }
}

