.experiment {
  .heartbeat {
    height: 200px;
  }

  .user-column {
    height: 200px;

    rect.positive-score {
      stroke: green;
      fill: green;
    }

    rect.negative-score {
      stroke: red;
      fill: red;
    }
  }

  circle.upvote {
    stroke: green;
    fill: green;
  }

  circle.downvote {
    stroke: red;
    fill: red;
  }
}

