.experiment {

  /* VOTE LIST */
  .vote-list {
    tr {
      text-align:center;
    }
    .username {
      padding:0 10px;
      img {
        max-width:80px;
        height:auto;
      }
    }
    .score {
      min-width:80px;
      text-align:center;
      vertical-align:middle;
      padding:20px;
    }
    .timestamp {
      padding-top:20px;
      font-size:.8em;
      vertical-align:top;
    }
  }


  .heartbeat {
    height: 200px;

    .upvote {
      stroke: green;
      fill: green;
    }

    .downvote {
      stroke: red;
      fill: red;
    }
  }

  .user-column {
    height: 200px;

    rect.positive-score {
      stroke: green;
      fill: green;
    }

    rect.negative-score {
      stroke: red;
      fill: red;
    }
  }

  .line-overall-score {
    height: 200px;

    .line-container path {
      stroke: black;
      fill: white;
    }
  }

  .user-smilies {
    height: 200px;

    .face-outer-circle {
      stroke: black;
      opacity: 0.2;
      fill-opacity: 0.3;
    }

    .mouth {
      stroke-width: 10;
      stroke: black;
      fill: transparent;
    }
  }
}

