$gray:#303133;
$lightgray:#c5c5c5;

$fontcolor: #4c4c4c;
$beige:#a19270;
$lightbeige:#e3dfd9;
$blue:#2266a7;
$dark-blue:#49484d;

$dark-red:#7b4414;
$red:#f15a3b;

$column-padding: .75%;
$search-padding: 1.5%;

$body-font: 'Roboto Slab', serif;
$header-font: 'franchiseregular', sans-serif;


@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin rotate($deg) {
  transform:rotate($deg);
  -ms-transform:rotate($deg); 
  -webkit-transform:rotate($deg);
}


@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

@mixin wiggle-fix {
 // -webkit-filter: blur(0px);
  -webkit-backface-visibility: hidden;
}


@mixin box-shadow( $horiz, $vert, $blur, $spread, $color){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

@mixin columns( $col ){
  -webkit-column-count:$col;
  -moz-column-count:$col;
  column-count:$col;
}


// Media Break Adjustments

$small-min: "only screen and (max-width: #{700px})"; //700px

